#homi,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "YouTube Noto", Roboto, arial, sans-serif;
  * {
    box-sizing:border-box;
  }
}
.prindiiChan{
  display: flex;
  flex:1;
  overflow: hidden;
  margin-top:50px;
  padding: 10px 30px;
  .chans{
    margin:0;
    padding: 0;
    max-width: 100%;
  }
}

